/* COLORES
/*BACKGROUND*/

section h1 {
    color: lightslategrey;
    background-color: khaki;
}

section h2 {
    background-color: khaki;
}

section h3 {
    background-color: green;
}

section h3 {
    background-color: khaki;
}
